@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    background-color: #060526;
    color: #EFE9F4;
    display: flex;
    flex-direction: column;
}

.title{
    height: 100px;
    width: 100%;
    text-align: center;
}

.game-cards{
    display: flex;
    justify-content: space-around;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    width: 400px;
    height: 400px;
    background-color: #EFE9F4;
    border: 3px solid #CC8B2E;
    border-radius: 50px;
}

img{
    height: auto;
    width: 300px;
}

#fightResults{
    text-align: center;
    margin-top: 20px;
}

.display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 700px;
    margin: 50px auto;
    background-color: #CC8B2E ;
    border-radius: 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px;
}